<div class="edit">
  <h1>Editing Book</h1>
  <% if @book.errors.any? && @book.errors.count == 1 %>
  <div class="alert">
    <h2 class="error"><%= @book.errors.count %>error prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
    
  <% elsif @book.errors.any? %>
  <div class="alert">
    <h2 class="error"><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with model: @book do |f| %>

    <p>Title</p>
    <%= f.text_field :title, class: 'text_title' %>
    <p>Body</p>
    <%= f.text_area :body, class: 'text_body' %>

    <%= f.submit 'Update Book', class: 'button' %>
  <% end %>

  <p>
    <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
  </p>
</div>